{% extends 'layouts/index.html' %}
{%  load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="product_block">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        {% if product.image %}
                            <img class="product_image" src="/media/{{ product.image }}" alt="">
                        {% else %}
                            <img class='product_image' src="{% static 'img_2.jpg' %}" alt="">
                        {% endif %}
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: {{ product.price }}</h6>
                        {% for hashtag in product.hashtags %}
                            <p>{{ hashtag.title }}</p>
                        {% endfor %}
                        <a href="/products/{{ product.id }}" class="card-link">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}