.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

.product_block {
    margin: 20px;
    transition: all, 0.3s;
}

.product_block:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product_image {
    width: 100%;
}